# Dependencies
node_modules/

# Build output
dist/

# Environment files
.env.local
.env

# Test artifacts
reports/
playwright/.auth/
test-results/
playwright-report/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
qa-screenshots/*
debug-login.png
screenshots/*
01-syncfusion-forms_desktop.png
06-system-settings_desktop.png
04-role-management_mobile.png
03-user-management_mobile.png
02-native-forms_tablet.png
02-native-forms_mobile.png
02-native-forms_desktop.png
01-syncfusion-forms_mobile.png
05-theme-editor_desktop.png
08-plugins_desktop.png
07-integrations_mobile.png
06-system-settings_mobile.png
05-theme-editor_tablet.png
05-theme-editor_mobile.png
04-role-management_tablet.png
04-role-management_desktop.png
03-user-management_tablet.png
01-syncfusion-forms_tablet.png
03-user-management_desktop.png
12-incidents-management_desktop.png
10-support_tablet.png
10-support_desktop.png
09-documentation_desktop.png
08-plugins_mobile.png
06-system-settings_tablet.png
07-integrations_desktop.png
07-integrations_tablet.png
08-plugins_tablet.png
09-documentation_mobile.png
10-support_mobile.png
11-alerts-management_desktop.png
11-alerts-management_tablet.png
12-incidents-management_mobile.png
12-incidents-management_tablet.png
13-marketplace_desktop.png
13-marketplace_mobile.png
09-documentation_tablet.png
11-alerts-management_mobile.png
13-marketplace_tablet.png
